*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#blr {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 105%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for height and width */
    overflow: hidden;
}
@media (max-width: 680px){
    #blr {
        top: 90%;
    }
}
@media (max-width: 425px){
    #blr{
        display: none;
    }
}