.testcard {
    
    flex: 0 0 22vw;
    height: 60vh;
    margin: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    background: linear-gradient(
      to bottom,
      rgba(0, 183, 255, 0.35),
      rgba(0, 183, 255, 0.15),
      rgba(0, 183, 255, 0.05),
      rgba(0, 183, 255, 0)
    );
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0, 183, 255, 0.2);
  }
  
  
  .quote-icon {
    width: 3rem;
    height: 3rem;
    align-self: center;
    margin-bottom: 1.5rem;
  }
  
  .testimonial-text {
    font-size: 1rem;
    line-height: 1.6;
    flex-grow: 1;
    text-align: center;
  }
  
  .testimonial-name {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-top: 1.5rem;
  }
  .testcard:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  @media screen and (max-width: 768px){
    .testimonial-text {
      font-size: 0.75rem;
      font-weight: 300;
    line-height: 1.3;}
      .testcard {
        height: auto;
        padding: 1rem 1rem;
      }
      .quote-icon {
        width: 2rem;
        height: 2rem;}
        .testimonial-name {
          font-size: 0.7rem;
          font-weight: 300;
        }
  }
  @media screen and (max-width: 426px) {
    .testcard {
      flex: 0 0 60vw; /* show 1 card fully, one peeking */
      height: clamp(10rem, 30rem, 20rem);
    }
  
    .testimonial-text {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 1.3;
    }
  
    .quote-icon {
      width: 2rem;
      height: 2rem;
    }
  
    .testimonial-name {
      font-size: 0.7rem;
      font-weight: 300;
    }
  }
  