.clients-container {
    width: 100%;
    height: 110vh;
    background: #011325;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  .cards-wrapper.scrollable {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    transition: none;
  }
  
  .slider-window {
    width: 90vw;
    overflow: hidden;
    z-index: 5;
  }
  
  .cards-wrapper {
    display: flex;
  }
  
  .cards-wrapper.animate {
    transition: transform 0.6s ease-in-out;
  }
  
  .arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    user-select: none;
  }
  
  .arrow-button.left {
    left: 1rem;
  }
  
  .arrow-button.right {
    right: 1rem;
  }
  #client-head{
    color: #CAF7FF;
    background-color: #011325;
    text-align: center;
    font-size: 7vh;
    z-index: 10;
  }
  #tstbg{
    width: 100%;
    opacity: 0.9;
    z-index: 1;
    position: absolute;
    z-index: 2;
    object-fit: contain;
  }
  .test-card-container {
    flex: 0 0 25%;
    scroll-snap-align: center;
  }
  @media screen and (max-width: 768px) {
    .clients-container{
      height: 60vh;
    }
    #client-head{
      font-size: 5vh;
      margin-top: 8vh;   }
      
    
      .arrow-button {
        display: none;
      }
  }
  @media screen and (min-width: 500px) and (max-width: 800px){
    .test-card-container > * {
      flex: 1;
      height: 80%;
    }
  }
  @media screen and (max-width: 426px) {
    .clients-container{
      height: clamp(20rem, 30rem, 20rem);
    }
    .test-card-container {
      flex: 0 0 75%;
      scroll-snap-align: center;
    }
    
    #client-head{
      font-size: 5vh;
    margin-top: 10vh;   }
  }