*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#global-head{
    color: #CAF7FF;
    background-color: #011325;
    text-align: center;
    font-size: 7vh;
}
#global-main{
    background-color: #011325;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#map{
    max-width: 70%;
    margin-top: 8vh;
    z-index: 5;
}
#map:hover{
    transform: scale(1.05);
    transition: all 0.7s ease-out;
}
@media screen and (max-width: 768px){
   #global-main{
    height: 70vh;
   }
}
@media screen and (max-width: 480px){
#map{
    max-width: 90%;
    margin-top: 2vh;
}
#global-head{
    font-size: 5vh;
}
}
@media screen and (max-width: 320px){
    #global-head{
        margin-top: 10vh;
        font-size: 3.5vh;
    }
    #global-main{
        height: 60vh;
    }
}